$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

@media (min-width: 641px) {

  .navigation-bar {
    align-items: center;
  }

  .navigation-bar__menu {
    display: flex;
  }

  .menu__item {
    font-size: 12px;
    text-transform: uppercase;
    color: #EBEBEB;
    font-family: $font-montserrat;
    padding-left: 20px;
  }

  .menu__item--link {
    text-decoration: none;
    color: #EBEBEB;
    cursor: pointer;
  }
  .menu__logo {
    display: inline-block;
    width: 104px;
    height: 83px;
    padding-right: 23px;
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .navigation-bar__text, .navigation-bar__burger {
    display: none;
  }

  .main-banner__text--love {
    font-size: 28px;
    padding-left: 42px;
    padding-top: 35px;
  }

  .main-banner__text--pizza {
    font-size: 28px;
    padding-left: 42px;
    padding-bottom: 22px;
  }
  .main-banner__web-link {
    font-size: 25px;
    padding-left: 42px;
    padding-bottom: 150px;
  }

  .page-link__image--pizza, .page-link__image--salads, .page-link__image--desserts {
    font-size: 33px;
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .page-link__arrow--icon1, .page-link__arrow--icon2, .page-link__arrow--icon3 {
    font-size: 20px;
  }

  .menu-header__text--main {
    font-size: 40px;
  }
  .menu-header__text--secondary {
    font-size: 20px;
  }
  .restaurant-menu__part1--header, .restaurant-menu__part2--header {
    font-size: 35px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 28px;
    margin-bottom: 29px;
  }

  .restaurant-menu__section-name, .restaurant-menu__section-name2, .restaurant-menu__section-name3 {
    margin-bottom: 29px;
  }
  .restaurant-menu__section-name--text, .restaurant-menu__section-name2--text, .restaurant-menu__section-name4--text {
    font-size: 25px;
  }

  .restaurant-menu__section-name--image1 {
    width: 49px;
  }
  .restaurant-menu__section-name--image2 {
    width: 27px;
  }
  .restaurant-menu__section-name--image3 {
    width: 61px;
  }
  .restaurant-menu__section-name--image4 {
    width: 43px;
  }
  .restaurant-menu__item {
    margin-bottom: 17px;
  }
  .restaurant-menu__list {
    margin-bottom: 24px;
  }
  .restaurant-menu__list--header {
    margin-bottom: 12px;
  }

  .restaurant-menu__list--name {
    font-size: 27px;
    font-weight: normal;
  }
  .restaurant-menu__list--price {
    font-size: 27px;
  }
  .restaurant-menu__list--text-wrapper {
    line-height: 1;
  }
  .restaurant-menu__list--text {
    font-size: 18px;
    letter-spacing: 0;
    font-weight: normal;
  }

  .footer-block {
    font-size: 18px;
  }
  .footer-block__text--top {
    padding-top: 21px;
    padding-bottom: 10px;
  }
  .footer-block__text--bottom {
    padding-bottom: 17px;
  }
}