.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  width: 100%;
  max-width: 1200px;
}

.navigation-bar {
  width: 100%;
  background-color: #373C3F;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.navigation-bar__menu, .menu__logo {
  display: none;
}

.navigation-bar__text {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  padding-left: 18.3px;
  padding-top: 11.2px;
  letter-spacing: 0.005em;
  padding-bottom: 13px;
}

.navigation-bar__burger {
  background-color: #202529;
  width: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.burger__line--top, .burger__line--middle, .burger__line--bottom {
  border-bottom: 1.8px solid white;
  color: white;
  width: 15.6px;
  margin-bottom: 2px;
}

.navigation-bar__dropdown-menu {
  font-family: "Lato", sans-serif;
  position: absolute;
  background-color: #FAFAFA;
  font-size: 12px;
  color: #414141;
  right: 0;
  bottom: -10rem;
  width: 9rem;
  box-sizing: border-box;
  box-shadow: 1px 0 1px 0.3px #e8e8e8;
  border-radius: 1px;
  z-index: 1;
  display: none;
}

.navigation-bar__burger:hover .navigation-bar__dropdown-menu, .navigation-bar__burger:active .navigation-bar__dropdown-menu {
  display: inline-block;
}

.main-banner:hover .navigation-bar__dropdown-menu, .main-banner:active .navigation-bar__dropdown-menu {
  display: inline-block;
}

.navigation-bar__burger:hover .burger__line--middle, .navigation-bar__burger:active .burger__line--middle {
  display: none;
}

.navigation-bar__burger:hover .burger__line--top, .navigation-bar__burger:active .burger__line--top {
  border-bottom: 2px solid white;
  position: absolute;
  color: white;
  display: inline-block;
  width: 20px;
  margin: 0;
  transform: rotate(-45deg);
  top: 17.5px;
  left: 10px;
}

.navigation-bar__burger:hover .burger__line--bottom, .navigation-bar__burger:active .burger__line--bottom {
  border-bottom: 2px solid white;
  position: absolute;
  color: white;
  display: inline-block;
  width: 20px;
  margin: 0;
  transform: rotate(45deg);
  top: 17.5px;
  left: 10px;
}

.dropdown-menu__item1 {
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12.9px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.3);
  box-sizing: border-box;
}

.dropdown-menu__item2, .dropdown-menu__item3, .dropdown-menu__item4 {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12.9px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.3);
  box-sizing: border-box;
}

.dropdown-menu__item5 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12.9px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.3);
  box-sizing: border-box;
}

.dropdown-menu__end {
  padding-bottom: 4px;
  background-color: #FAFAFA;
  border-radius: 1px;
}

.dropdown-menu__link {
  text-decoration: none;
  color: #414141;
}

.dropdown-menu--hover:hover, .dropdown-menu--hover:active {
  background-color: #F5F5F5;
  cursor: pointer;
}

.main-banner {
  position: relative;
  width: 100%;
  background-image: url("../img/main-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.7px;
}

.main-banner__text--love {
  font-size: 13.9px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  padding-left: 21px;
  letter-spacing: 0.075em;
  padding-top: 17.5px;
  padding-bottom: 8.9px;
}

.main-banner__text--pizza {
  font-size: 14.6px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  padding-left: 21px;
  letter-spacing: 0.048em;
  padding-bottom: 11.2px;
}

.main-banner__web-link {
  font-size: 12.5px;
  color: #A6D6E0;
  text-transform: lowercase;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  padding-left: 21px;
  letter-spacing: 0.08em;
  padding-bottom: 96px;
}

.main-banner__web-link--underline {
  text-decoration: none;
  color: #A6D6E0;
  cursor: pointer;
}

.page-links-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20.1px;
}

.page-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.1px;
}

.page-link__image--pizza {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("../img/pizza-delivery.png");
  background-position: 77% 95.1%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  font-size: 20.1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-bottom: 1.92rem;
  padding-top: 1.55rem;
  letter-spacing: 0.2px;
}

.page-link__image--salads {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("../img/ua_ux-salads.png");
  background-position: 0 93%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  font-size: 20.1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-bottom: 1.7rem;
  padding-top: 1.65rem;
  letter-spacing: 0.13px;
}

.page-link__image--desserts {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("../img/desserts.png");
  background-repeat: no-repeat;
  background-position: 0 15%;
  background-size: cover;
  width: 100%;
  color: white;
  font-size: 20.1px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-bottom: 1.79rem;
  padding-top: 1.65rem;
  letter-spacing: 0.13px;
}

.page-link__arrow1, .page-link__arrow2, .page-link__arrow3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  background-color: #ACD8AD;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.page-link__arrow:hover, .page-link__arrow:active {
  background-color: #9fc2a0;
}

.page-link__arrow--icon1, .page-link__arrow--icon2, .page-link__arrow--icon3 {
  font-size: 17px;
  font-weight: 600;
}

.restaurant-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 32.5px;
}

.restaurant-menu__header {
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.restaurant-menu__header-text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.menu-header__menu-logo {
  display: none;
}

.menu-header__text--main {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #3F4043;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
}

.menu-header__text--secondary {
  font-size: 10px;
  color: #CBCCCE;
  font-family: "Lato", sans-serif;
}

.restaurant-menu__header {
  margin-bottom: 0.65rem;
}

.restaurant-menu__part1 {
  margin-bottom: 15px;
}

.restaurant-menu__part1--header {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #ACD8AD;
  background-color: #3F4043;
  text-transform: uppercase;
  display: block;
  padding-top: 0.53rem;
  padding-bottom: 0.53rem;
  padding-left: 1.15rem;
  margin-bottom: 11.9px;
}

.restaurant-menu__section-name {
  width: 89.3%;
  margin: 0 auto 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.restaurant-menu__section-name--text {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.51px;
  align-self: center;
  color: #3F4043;
}

.restaurant-menu__list {
  width: 89.3%;
  margin: 0 auto 18.3px;
  color: #3F4043;
  font-family: "Lato", sans-serif;
}

.restaurant-menu__list--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8px;
}

.restaurant-menu__item {
  margin-bottom: 12px;
}

.restaurant-menu__list--name, .restaurant-menu__list--price {
  font-size: 13.5px;
  font-weight: bold;
}

.restaurant-menu__list--text-wrapper {
  text-align: justify;
  line-height: 0.62;
}

.restaurant-menu__list--text {
  color: #3F4043;
  font-size: 9.3px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.restaurant-menu__section-name--image2 {
  width: 13.5px;
}

.restaurant-menu__part2--header {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #ACD8AD;
  text-transform: uppercase;
  display: block;
  padding-top: 0.53rem;
  padding-bottom: 0.55rem;
  padding-left: 1.15rem;
  margin-bottom: 13.4px;
}

.restaurant-menu__section-name--image3 {
  width: 30.5px;
}

.restaurant-menu__section-name2 {
  width: 91%;
  margin: 0 auto 18.5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.restaurant-menu__section-name2--text {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.51px;
  align-self: center;
  color: #3F4043;
}

.restaurant-menu__section-name3 {
  width: 90%;
  margin: 0 auto 18.5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.restaurant-menu__section-name4--text {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.51px;
  align-self: center;
  color: #3F4043;
}

.restaurant-menu__section-name--image4 {
  width: 21px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ACD8AD;
  color: #FFFFFF;
}

.footer-block {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.footer-block__text--top {
  padding-top: 12px;
  padding-bottom: 6px;
}

.footer-block__text--bottom {
  padding-bottom: 12.5px;
}

.footer-block__logo {
  display: none;
}

.footer-block__text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (width: 320px) {
  .page-content {
    width: 320px;
  }

  .navigation-bar__burger {
    height: 37px;
  }

  .burger__line--top {
    margin-top: 3px;
    margin-left: 1.7px;
  }

  .burger__line--middle {
    margin-bottom: 2px;
    margin-left: 1.7px;
  }

  .burger__line--bottom {
    margin-bottom: 4px;
    margin-left: 1.7px;
  }

  .navigation-bar__dropdown-menu {
    bottom: -161px;
    width: 182px;
  }

  .page-link__image--pizza {
    background-size: initial;
    padding-left: 0.29rem;
    letter-spacing: 0.2px;
  }

  .page-link__image--salads {
    background-size: initial;
    padding-left: 1.6rem;
  }

  .page-link__image--desserts {
    background-size: initial;
    padding-right: 0.3rem;
  }

  .page-link__arrow1 {
    position: relative;
    width: 29%;
  }

  .page-link__arrow2 {
    position: relative;
    width: 31.5%;
  }

  .page-link__arrow3 {
    position: relative;
    width: 28.7%;
  }

  .page-link__arrow--icon1 {
    position: absolute;
    top: 35%;
    left: 42%;
  }

  .page-link__arrow--icon2 {
    position: absolute;
    top: 34.5%;
    left: 41.5%;
  }

  .page-link__arrow--icon3 {
    position: absolute;
    top: 34.5%;
    left: 41.5%;
  }

  .menu-header__text--main {
    padding-left: 0.2rem;
  }

  .menu-header__text--secondary {
    padding-left: 0.28rem;
  }

  .restaurant-menu__part1 {
    margin-bottom: 34px;
  }

  .restaurant-menu__section-name--image2 {
    padding-right: 5.5px;
    width: 13.5px;
  }

  .restaurant-menu__section-name2--text {
    padding-left: 3.5px;
    padding-top: 4px;
  }

  .restaurant-menu__section-name4--text {
    padding-left: 1.1px;
    padding-top: 3px;
  }

  .restaurant-menu__section-name--image4 {
    padding-right: 6px;
    padding-top: 0.8px;
  }

  .footer-block__text--top {
    padding-left: 5px;
  }

  .footer-block__text--bottom {
    padding-left: 2px;
  }
}
@media (min-width: 641px) {
  .navigation-bar {
    align-items: center;
  }

  .navigation-bar__menu {
    display: flex;
  }

  .menu__item {
    font-size: 12px;
    text-transform: uppercase;
    color: #EBEBEB;
    font-family: "Montserrat", sans-serif;
    padding-left: 20px;
  }

  .menu__item--link {
    text-decoration: none;
    color: #EBEBEB;
    cursor: pointer;
  }

  .menu__logo {
    display: inline-block;
    width: 104px;
    height: 83px;
    padding-right: 23px;
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .navigation-bar__text, .navigation-bar__burger {
    display: none;
  }

  .main-banner__text--love {
    font-size: 28px;
    padding-left: 42px;
    padding-top: 35px;
  }

  .main-banner__text--pizza {
    font-size: 28px;
    padding-left: 42px;
    padding-bottom: 22px;
  }

  .main-banner__web-link {
    font-size: 25px;
    padding-left: 42px;
    padding-bottom: 150px;
  }

  .page-link__image--pizza, .page-link__image--salads, .page-link__image--desserts {
    font-size: 33px;
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .page-link__arrow--icon1, .page-link__arrow--icon2, .page-link__arrow--icon3 {
    font-size: 20px;
  }

  .menu-header__text--main {
    font-size: 40px;
  }

  .menu-header__text--secondary {
    font-size: 20px;
  }

  .restaurant-menu__part1--header, .restaurant-menu__part2--header {
    font-size: 35px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 28px;
    margin-bottom: 29px;
  }

  .restaurant-menu__section-name, .restaurant-menu__section-name2, .restaurant-menu__section-name3 {
    margin-bottom: 29px;
  }

  .restaurant-menu__section-name--text, .restaurant-menu__section-name2--text, .restaurant-menu__section-name4--text {
    font-size: 25px;
  }

  .restaurant-menu__section-name--image1 {
    width: 49px;
  }

  .restaurant-menu__section-name--image2 {
    width: 27px;
  }

  .restaurant-menu__section-name--image3 {
    width: 61px;
  }

  .restaurant-menu__section-name--image4 {
    width: 43px;
  }

  .restaurant-menu__item {
    margin-bottom: 17px;
  }

  .restaurant-menu__list {
    margin-bottom: 24px;
  }

  .restaurant-menu__list--header {
    margin-bottom: 12px;
  }

  .restaurant-menu__list--name {
    font-size: 27px;
    font-weight: normal;
  }

  .restaurant-menu__list--price {
    font-size: 27px;
  }

  .restaurant-menu__list--text-wrapper {
    line-height: 1;
  }

  .restaurant-menu__list--text {
    font-size: 18px;
    letter-spacing: 0;
    font-weight: normal;
  }

  .footer-block {
    font-size: 18px;
  }

  .footer-block__text--top {
    padding-top: 21px;
    padding-bottom: 10px;
  }

  .footer-block__text--bottom {
    padding-bottom: 17px;
  }
}
@media (min-width: 980px) {
  .navigation-bar {
    align-items: center;
  }

  .navigation-bar__menu {
    display: flex;
  }

  .menu__item {
    font-size: 15px;
    text-transform: uppercase;
    color: #EBEBEB;
    font-family: "Montserrat", sans-serif;
    padding-left: 25px;
  }

  .main-banner__text--love {
    font-size: 54px;
    padding-left: 30px;
    padding-top: 48px;
  }

  .main-banner__text--pizza {
    font-size: 54px;
    padding-left: 30px;
    padding-bottom: 43px;
  }

  .main-banner__web-link {
    font-size: 34px;
    padding-left: 30px;
    padding-bottom: 195px;
  }

  .page-link__arrow1, .page-link__arrow2, .page-link__arrow3 {
    display: none;
  }

  .page-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 38px;
  }

  .page-link {
    display: contents;
  }

  .page-link__image--pizza, .page-link__image--salads, .page-link__image--desserts {
    font-size: 38px;
    padding-bottom: 135px;
    padding-top: 135px;
  }

  .restaurant-menu__header {
    flex-direction: row;
    justify-content: space-between;
  }

  .restaurant-menu__header-text-wrapper {
    justify-content: center;
  }

  .menu-header__menu-logo {
    display: inline-block;
    width: 109px;
  }

  .menu-header__text--main {
    font-size: 35px;
  }

  .menu-header__text--secondary {
    font-size: 20px;
  }

  .restaurant-menu__sections-wrapper {
    display: flex;
    flex-direction: row;
  }

  .restaurant-menu__part1, .restaurant-menu__part2 {
    width: 100%;
  }

  .restaurant-menu__part1--header, .restaurant-menu__part2--header {
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 18px;
  }

  .restaurant-menu__section-name, .restaurant-menu__section-name2, .restaurant-menu__section-name3 {
    margin-bottom: 26px;
  }

  .restaurant-menu__section-name--text, .restaurant-menu__section-name2--text, .restaurant-menu__section-name3--text, .restaurant-menu__section-name4--text {
    font-size: 22px;
  }

  .restaurant-menu__section-name--image1 {
    width: 42px;
  }

  .restaurant-menu__section-name--image2 {
    width: 25px;
  }

  .restaurant-menu__section-name--image3 {
    width: 56px;
  }

  .restaurant-menu__section-name--image4 {
    width: 40px;
  }

  .restaurant-menu__item {
    margin-bottom: 21px;
  }

  .restaurant-menu__list {
    margin-bottom: 28px;
  }

  .restaurant-menu__list--header {
    margin-bottom: 14px;
  }

  .restaurant-menu__list--name {
    font-size: 20px;
    font-weight: normal;
  }

  .restaurant-menu__list--price {
    font-size: 20px;
  }

  .restaurant-menu__list--text-wrapper {
    line-height: 1;
  }

  .restaurant-menu__list--text {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: normal;
  }

  .footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }

  .footer-block__logo {
    display: inline-block;
    width: 104px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
  }

  .footer-block__text--top {
    padding-right: 6px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-block__text--bottom {
    padding-bottom: 0;
  }

  .footer-block__text-wrapper {
    flex-direction: row;
    padding-right: 23px;
  }
}
@media (min-width: 1200px) {
  .main-banner__text--love {
    font-size: 62px;
    padding-left: 30px;
    padding-top: 48px;
  }

  .main-banner__text--pizza {
    font-size: 62px;
    padding-left: 30px;
    padding-bottom: 43px;
  }

  .main-banner__web-link {
    font-size: 38px;
    padding-left: 30px;
    padding-bottom: 284px;
  }

  .page-link__image--pizza, .page-link__image--salads, .page-link__image--desserts {
    font-size: 43px;
    padding-bottom: 160px;
    padding-top: 160px;
  }

  .menu-header__menu-logo {
    width: 120px;
  }

  .menu-header__text--main {
    font-size: 40px;
  }

  .menu-header__text--secondary {
    font-size: 25px;
  }

  .restaurant-menu__part1--header, .restaurant-menu__part2--header {
    font-size: 29px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 21px;
  }

  .restaurant-menu__section-name--text, .restaurant-menu__section-name2--text, .restaurant-menu__section-name3--text, .restaurant-menu__section-name4--text {
    font-size: 25px;
  }

  .restaurant-menu__section-name--image1 {
    width: 49px;
  }

  .restaurant-menu__section-name--image2 {
    width: 27px;
  }

  .restaurant-menu__section-name--image3 {
    width: 61px;
  }

  .restaurant-menu__section-name--image4 {
    width: 43px;
  }

  .restaurant-menu__item {
    margin-bottom: 23px;
  }

  .restaurant-menu__list {
    margin-bottom: 32px;
  }

  .restaurant-menu__list--header {
    margin-bottom: 16px;
  }

  .restaurant-menu__list--name {
    font-size: 25px;
  }

  .restaurant-menu__list--price {
    font-size: 25px;
  }

  .restaurant-menu__list--text {
    font-size: 18px;
  }

  .footer-block {
    font-size: 20px;
  }

  .footer-block__logo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .footer-block__text--top {
    padding-right: 8px;
  }

  .footer-block__text-wrapper {
    padding-right: 29px;
  }
}

/*# sourceMappingURL=style.css.map */
