$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  width: 100%;
  max-width: 1200px;
}

.navigation-bar {
  width: 100%;
  background-color: #373C3F;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.navigation-bar__menu, .menu__logo {
  display: none;
}

.navigation-bar__text {
  font-size: 12px;
  font-family: $font-montserrat;
  font-weight: bolder;
  padding-left: 18.3px;
  padding-top: 11.2px;
  letter-spacing: 0.005em;
  padding-bottom: 13px;
}

.navigation-bar__burger {
  background-color: #202529;
  width: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.burger__line--top, .burger__line--middle, .burger__line--bottom {
  border-bottom: 1.8px solid white;
  color: white;
  width: 15.6px;
  margin-bottom: 2px;
}

.navigation-bar__dropdown-menu {
  font-family: $font-lato;
  position: absolute;
  background-color: #FAFAFA;
  font-size: 12px;
  color: #414141;
  right: 0;
  bottom: -10rem;
  width: 9rem;
  box-sizing: border-box;
  box-shadow: 1px 0 1px 0.3px #e8e8e8;
  border-radius: 1px;
  z-index: 1;
  display: none;
}

.navigation-bar__burger:hover, .navigation-bar__burger:active {
  .navigation-bar__dropdown-menu {
    display: inline-block;
  }
}

.main-banner:hover, .main-banner:active {
  .navigation-bar__dropdown-menu {
    display: inline-block;
  }
}

.navigation-bar__burger:hover, .navigation-bar__burger:active {
  .burger__line--middle {
    display: none;
  }
}

.navigation-bar__burger:hover, .navigation-bar__burger:active {
  .burger__line--top {
    border-bottom: 2px solid white;
    position: absolute;
    color: white;
    display: inline-block;
    width: 20px;
    margin: 0;
    transform: rotate(-45deg);
    top: 17.5px;
    left: 10px;
  }
}

.navigation-bar__burger:hover, .navigation-bar__burger:active {
  .burger__line--bottom {
    border-bottom: 2px solid white;
    position: absolute;
    color: white;
    display: inline-block;
    width: 20px;
    margin: 0;
    transform: rotate(45deg);
    top: 17.5px;
    left: 10px;
  }
}

.dropdown-menu__item1 {
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12.9px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.3);
  box-sizing: border-box;
}

.dropdown-menu__item2, .dropdown-menu__item3, .dropdown-menu__item4 {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12.9px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.3);
  box-sizing: border-box;
}

.dropdown-menu__item5 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12.9px;
  border-bottom: 1px solid rgba(232, 232, 232, 0.3);
  box-sizing: border-box;
}

.dropdown-menu__end {
  padding-bottom: 4px;
  background-color: #FAFAFA;
  border-radius: 1px;
}

.dropdown-menu__link {
  text-decoration: none;
  color: #414141;

}

.dropdown-menu--hover:hover, .dropdown-menu--hover:active {
  background-color: #F5F5F5;
  cursor: pointer;
}

.main-banner {
  position: relative;
  width: 100%;
  background-image: url("../img/main-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.7px;
}

.main-banner__text--love {
  font-size: 13.9px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
  padding-left: 21px;
  letter-spacing: 0.075em;
  padding-top: 17.5px;
  padding-bottom: 8.9px;
}

.main-banner__text--pizza {
  font-size: 14.6px;
  font-weight: bold;
  color: white;
  font-family: $font-lato;
  padding-left: 21px;
  letter-spacing: 0.048em;
  padding-bottom: 11.2px;
}

.main-banner__web-link {
  font-size: 12.5px;
  color: #A6D6E0;
  text-transform: lowercase;
  font-weight: bold;
  font-family: $font-lato;
  padding-left: 21px;
  letter-spacing: 0.08em;
  padding-bottom: 96px;
}

.main-banner__web-link--underline {
  text-decoration: none;
  color: #A6D6E0;
  cursor: pointer;
}

.page-links-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20.1px;
}

.page-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.1px;
}

.page-link__image--pizza {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("../img/pizza-delivery.png");
  background-position: 77% 95.1%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  font-size: 20.1px;
  font-family: $font-lato;
  font-weight: bold;
  padding-bottom: 1.92rem;
  padding-top: 1.55rem;
  letter-spacing: 0.2px;
}

.page-link__image--salads {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("../img/ua_ux-salads.png");
  background-position: 0 93%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  font-size: 20.1px;
  font-family: $font-lato;
  font-weight: bold;
  padding-bottom: 1.7rem;
  padding-top: 1.65rem;
  letter-spacing: 0.13px;
}

.page-link__image--desserts {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("../img/desserts.png");
  background-repeat: no-repeat;
  background-position: 0 15%;
  background-size: cover;
  width: 100%;
  color: white;
  font-size: 20.1px;
  font-family: $font-lato;
  font-weight: bold;
  padding-bottom: 1.79rem;
  padding-top: 1.65rem;
  letter-spacing: 0.13px;
}

.page-link__arrow1, .page-link__arrow2, .page-link__arrow3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  background-color: #ACD8AD;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.page-link__arrow:hover, .page-link__arrow:active {
  background-color: #9fc2a0;
}

.page-link__arrow--icon1, .page-link__arrow--icon2, .page-link__arrow--icon3 {
  font-size: 17px;
  font-weight: 600;
}

.restaurant-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 32.5px;
}

.restaurant-menu__header {
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left
}

.restaurant-menu__header-text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left
}

.menu-header__menu-logo {
  display: none;
}

.menu-header__text--main {
  font-family: $font-lato;
  font-size: 20px;
  color: #3F4043;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
}

.menu-header__text--secondary {
  font-size: 10px;
  color: #CBCCCE;
  font-family: $font-lato;
}

.restaurant-menu__header {
  margin-bottom: 0.65rem;
}

.restaurant-menu__part1 {
  margin-bottom: 15px;
}

.restaurant-menu__part1--header {
  font-family: $font-lato;
  font-size: 20px;
  color: #ACD8AD;
  background-color: #3F4043;
  text-transform: uppercase;
  display: block;
  padding-top: 0.53rem;
  padding-bottom: 0.53rem;
  padding-left: 1.15rem;
  margin-bottom: 11.9px;
}

.restaurant-menu__section-name {
  width: 89.3%;
  margin: 0 auto 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;

}

.restaurant-menu__section-name--text {
  font-family: $font-lato;
  text-transform: uppercase;
  letter-spacing: -0.51px;
  align-self: center;
  color: #3F4043;
}

.restaurant-menu__list {
  width: 89.3%;
  margin: 0 auto 18.3px;
  color: #3F4043;
  font-family: $font-lato;
}

.restaurant-menu__list--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8px;
}

.restaurant-menu__item {
  margin-bottom: 12px;
}

.restaurant-menu__list--name, .restaurant-menu__list--price {
  font-size: 13.5px;
  font-weight: bold;
}

.restaurant-menu__list--text-wrapper {
  text-align: justify;
  line-height: 0.62;
}

.restaurant-menu__list--text {
  color: #3F4043;
  font-size: 9.3px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.restaurant-menu__section-name--image2 {
  width: 13.5px;
}

.restaurant-menu__part2--header {
  font-family: $font-lato;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #ACD8AD;
  text-transform: uppercase;
  display: block;
  padding-top: 0.53rem;
  padding-bottom: 0.55rem;
  padding-left: 1.15rem;
  margin-bottom: 13.4px;
}

.restaurant-menu__section-name--image3 {
  width: 30.5px;
}

.restaurant-menu__section-name2 {
  width: 91%;
  margin: 0 auto 18.5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.restaurant-menu__section-name2--text {
  font-family: $font-lato;
  text-transform: uppercase;
  letter-spacing: -0.51px;
  align-self: center;
  color: #3F4043;
}

.restaurant-menu__section-name3 {
  width: 90%;
  margin: 0 auto 18.5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.restaurant-menu__section-name4--text {
  font-family: $font-lato;
  text-transform: uppercase;
  letter-spacing: -0.51px;
  align-self: center;
  color: #3F4043;
}

.restaurant-menu__section-name--image4 {
  width: 21px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ACD8AD;
  color: #FFFFFF;
}

.footer-block {
  font-family: $font-montserrat;
  font-size: 12px;
  font-weight: bold;
}

.footer-block__text--top {
  padding-top: 12px;
  padding-bottom: 6px;
}

.footer-block__text--bottom {
  padding-bottom: 12.5px;
}

.footer-block__logo {
  display: none;
}

.footer-block__text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@import "media320pp";
@import "media641";
@import "media980";
@import "media1200";
